<ion-view view-title="Rooms">
    <ion-content>
        <ion-list ng-show="rooms">
            <ion-item class="item item-input-inset">
                <button ng-click="modal.show()" class="button button-small button-balanced">create room</button>
            </ion-item>
            <ion-item class="item-icon-left" ng-repeat="room in rooms" type="item-text-wrap" ng-click="openChatRoom(room.id)">
                <i class="icon {{room.icon}}"></i>
                <h2>{{room.name}}</h2>
            </ion-item>
        </ion-list>
        <ion-list ng-hide="rooms.length">
            <ion-item class="textCenter">
                <i class="icon ion-loading-c"></i> Loading Rooms
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>

<script id="modal.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-positive">
            <h1 class="title">create room</h1>
            <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
        </header>
        <div class="list card padding">
            <label class="item item-input">
                <span class="input-label">name</span>
                <input type="text" ng-model="IM.room.name">
            </label>
            <label class="item item-input">
                <span class="input-label">note</span>
                <input type="text" ng-model="IM.room.notes">
            </label>
            <button ng-click="createRoom(IM.room);modal.hide()" class="button button-block button-positive activated">
                Create Room
            </button>
        </div>
    </div>
</script>
